:root{
    --light-grey: rgba(231, 230, 230, 0.3);
}
@font-face{
    font-family: norse-bold;
    src: url(../fonts/Norse-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    display: flex;
}
.panel-left{
    background-image: url("../images/panel-background.avif");
    width: 60%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.empty-div-top{
    height: 20vh;
}
.panel-image-credits{
    display: flex;
    justify-content: center;
    color: white;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}
a{
    color: white;
}
a:visited{
    color: white;
}
.sidebar-logo{
    width: 100%;
    height: 20%;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    height: 100%;
}
.logo-text{
    font-family: norse-bold;
    color: white;
    font-size: 100px;
}
.panel-right{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-left-color: black;
    border-left-width: 2px;
    border-left-style: solid;
}
/* Padding for right panel */
.panel-right > *{
    padding: 50px;
}
.message{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: var(--light-grey);
    height: 30%;
    box-shadow: 10px 1px 4px var(--light-grey);
    font-size: 30px;
}
.form-div{
    height: 40%;
    box-shadow: 10px 1px 4px var(--light-grey);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.form-text{
    font-size: 30px;
}
.form-left, .form-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.form-element{
    display: flex;
    flex-direction: column;
    font-size: 18px;
}
.form-element > input:focus{
    box-shadow: 3px 3px 3px black;
}
/* Sign up buttons styling */
.form-element > input{
    height: 2.5rem;
    width: 20rem;
    border-radius: 12px;
    border-style: solid;
    border-color: rgb(202, 201, 201);
    padding-left: 10px;
    font-size:18px;
}
#sign-up-form{
    display: flex;
    height: 100%;
}
.submit{
    background-color: var(--light-grey);
    height: 30%;
    box-shadow: 10px 1px 4px var(--light-grey);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.submit-top, .submit-bottom{
    height: 100%;
}
.submit-top{
    display: flex;
    align-items: center;
}
.log-in-text{
    font-size: 20px;
}
.log-in-text a{
    color: #596D48;
    text-decoration: none;
}
.create-acc-button{
    font-size: 18px;
    background-color: #596D48;
    border-color: #596D48;
    color: white;
    border-style:none;
    border-radius: 12px;
    height: 4rem;
    width: 15rem;
}